.botaoVoltar {
  margin-top: 2rem;
  color: #fff;
  background-color: #5c636a;
}

.esqueciMinhaSenha {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
}

.senhaEBotao {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
}
